.scala_dependencies
target/
.target/
bin/
*.class
*.jar
*.swap
.~lock
*.ser
.scala_dependencies
.bak
.old
*~
*swp
build/
temp/
tmp/
*.o
.cache

# SBT Generated project stuff
project/project/

# IDE stuff
.project
.classpath

# SBT Eclipse Generated stuff
*/.settings/org.scala-ide.sdt.core.prefs

